<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-3 col-md-3">					
					<ul class="list-unstyled quick-links">
						<li><a href="/users/sign_up"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<ul class="list-unstyled quick-links">
						<li><a href="https://wwwe.sunlimetech.com" title="Design and developed by Lein"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3">
					<ul class="list-unstyled quick-links">
						<li><a href="https://wwwe.sunlimetech.com" title="Design and developed by Lein"><i class="fa fa-angle-double-right"></i>Another link</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/lein.davir" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/DAVIRLEIN" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/leindavir/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="http://github.com/davirlein1988"><i class="fa fa-github" target="_blank"></i></a></li>
						<li class="list-inline-item"><a href="mailto:lein.davir@gmail.com?Subject=Information%20request" target="_top"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>This project is aiming to help small schools to handle the libraries for its students</p>
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Davirlein</a></p>
				</div>
				</hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->